* {
	/*outline: 1px dotted red;*/
}

div.container {
	margin: 0px auto;
	max-width: 970px;
}

div.demo {
	text-align: center;
	margin: 15px auto;
	padding: 15px 20px 25px 20px;
}

.grey {
	background: #DDD;
}

.red {
	background: crimson;
}
